// -----------------------------------------------------------------------------
// This file contains all styles related to the picture component.
// -----------------------------------------------------------------------------
.intro-picture {
    border-radius: 230px;
    width: 100%;
    max-width: 280px;
}

.portfolio-picture {
    width: 100%;
    max-width: 400px;
    min-width: 240px;
}

@include mq($from: mobile, $until: iphone6p) {
    .intro-picture {
      max-width: 40%;
    }
  }

@include mq($from: iphone6p) {
    .intro-picture {
      width: 40%;
      max-width: 335px;
    }
  }